label.radio-inline, label.checkbox-inline {
  background-color: #dcdfd4; 
/*  background-color: #428bca;*/
  color: #555;
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 10px !important;
  margin-right: 2%;
  margin-left:0;
  padding: 10px 50px 10px 30px;
}
label.radio-inline.checked, label.checkbox-inline.checked {
  /*background-color: #266c8e;*/
  background-color: #f0ad4e;
  color: #fff !important;
  text-shadow: 1px 1px 2px #000 !important;
}
.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
  margin-left: 0;
}
.columns label.radio-inline, .columns label.checkbox-inline {
  min-width: 190px;
  vertical-align: top;
  width: 25%;
}

.columns-3 label.radio-inline, .columns-3 label.checkbox-inline {
  min-width: 190px;
  vertical-align: top;
  width: 30%;
}

.columns-3 .additional-info-wrap {
  display: inline-block;
  margin: 0 2% 0 0;
  min-width: 190px;
  position: relative;
  vertical-align: top;
  width: 30%;
}

.columns-2 label.radio-inline, .columns-2 label.checkbox-inline {
  min-width: 190px;
  vertical-align: top;
  width: 45%;
}

.columns-2 .additional-info-wrap {
  display: inline-block;
  margin: 0 2% 0 0;
  min-width: 190px;
  position: relative;
  vertical-align: top;
  width: 45%;
}

.additional-info-wrap {
  margin: 0 2% 0 0;
  min-width: 190px;
  position: relative;
  vertical-align: top;
  width: 20%;
}
.additional-info-wrap label.checkbox-inline, .additional-info-wrap label.radio-inline {
  width: 100% !important;
}
.additional-info-wrap .additional-info {
  /*background-color: #266c8e;*/
  background-color: #f0ad4e;
  clear: both;
  color: #fff !important;
  margin-top: -10px;
  padding: 0 10px 10px;
  text-shadow: 1px 1px 2px #000 !important;
  width: 100%;
}


.additional-checked-info-wrap {
  display: block;
  margin: 0 2% 0 0;
  min-width: 190px;
  position: relative;
  vertical-align: top;
}


.additional-checked-info-wrap label.checkbox-inline, .additional-info-wrap label.radio-inline {
  width: 100% !important;
}
.additional-checked-info-wrap .additional-checked-info {
  /*background-color: #266c8e;*/
  background-color: #f0ad4e;
  clear: both;
  color: #fff !important;
  margin-top: -10px;
  padding: 0 10px 10px;
  text-shadow: 1px 1px 2px #000 !important;
}


label.checkbox-inline.yes-no {
    display: inline-block;
    text-shadow: none;
}

label.radio-inline.yes-no.checked, label.checkbox-inline.yes-no.checked {
  background-color: #266c8e;
  /*background-color: #f0ad4e;*/
  color: #fff !important;
  text-shadow: 1px 1px 2px #000 !important;
}
